<html>
	<head>
		<title>My Site</title>
	</head>
	<body>
		<header>
			<a href="/">Home</a>
		</header>

		<h1>Hello, world!</h1>
		<footer>
		<a href="/second">Second</a>
			<p>Site Footer</p>
		</footer>
	</body>
</html>